{% extends 'base.html.twig' %}
{% block title %}
    О нас
{% endblock %}
{% block body %}
    <div class="pb-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d500.7081611993005!2d4.88051152572005!3d52.358403257605026!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc22828aef97cc51a!2z0JzRg9C30LXQuSDQktCw0L0g0JPQvtCz0LA!5e0!3m2!1sru!2sru!4v1650287742775!5m2!1sru!2sru" width="100%" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h3></h3>
                    <form class="contact-form row columns_padding_10" method="post">
                        <div class="col-sm-6">
                            <div class="form-group"> <label for="name">Имя <span class="required">*</span></label> <input type="text" size="30" value="" name="name" id="name" class="form-control pictur-font" placeholder="Имя*"> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"> <label for="email">Email<span class="required">*</span></label> <input type="email" id="inputEmail" class="form-control pictur-font" name="email" placeholder="Email*"> </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"> <label for="phone">Номер телефона</label> <input type="text" size="40" value="" name="phone" id="phone" class="form-control pictur-font" placeholder="Номер телефона"> </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group"> <label for="message">Сообщение</label> <textarea rows="5" cols="45" name="message" id="message" class="form-control pictur-font" placeholder="Ваше сообщение.."></textarea> </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="button"><button type="submit" class="btn btn-lg btn-outline-dark pictur-font">Отправить</button></div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <h2>Контактная информация</h2>
                    <div class="media small-media pictur-font">
                        <div class="media-left"> <i class="fa fa-map-marker highlight2"></i> </div>
                        <div class="media-body">Museumplein 6, 1071 DJ Amsterdam, Netherlands</div>
                    </div>
                    <div class="media small-media pictur-font">
                        <div class="media-left"> <i class="fa fa-pencil highlight2"></i> </div>
                        <div class="media-body"> <a href="mailto:marijuana@example.com">gogasite@yandex.ru</a> </div>
                    </div>
                    <div class="media small-media pictur-font">
                        <div class="media-left"> <i class="fa fa-phone highlight2"></i> </div>
                        <div class="media-body">+79999999999</div>
                    </div>
                    <div class="media small-media pictur-font">
                        <div class="media-left"> <i class="fa fa-clock-o highlight2"></i> </div>
                        <div class="media-body">График работы: 24/7</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}