{% extends 'base.html.twig' %}
{% block title %}
	О нем
{% endblock %}
{% block body %}
    <div id="content">
        <div class="portfolio pb-0">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active">
                        <img src="/asset/img/goga2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>Автопортрет в серой фетровой шляпе</h4>
                            <p>1886-87</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-lg-auto">
                    <h2 class="text-center">Краткая биография Винсента Ван Гога</h2>
                    <div class="pictur-font">
				<span>
					Винсент Ван Гог родился в голландском городе Гроот-Зундерте 30 марта 1853 года.
					Ван гог был первым ребенком в семье (не считая родившегося мертвым брата).
					Отца звали Теодор Ван Гог, мать - Карнелией. Семья была у них большая: 2 сына и три дочери.
					В роду Ван Гога все мужчины, так или иначе имели дело с картинами, либо служили церкви.
					Уже к 1869 году, даже не закончив школу, он стал работать в фирме, которая продавала картины.
					По правде говоря, у Ван Гога не получалось хорошо продавать картины, но зато он обладал безграничной
					любовью к живописи, а также ему хорошо давались языки. В 1873 году, в 20-летнем возрасте, он попал в
					Лондон, где провел 2 года, которые изменили всю его жизнь.</span>
                        <br><br>
                        <span> Лондоне Ван Гог жил припеваючи. У него было весьма хорошее жалование, которого хватало на посещение
					различных картинных галерей и музеев. Он даже купил себе цилиндр, без которого просто нельзя было обойтись в Лондоне.
					Все шло к тому, что Ван Гог мог бы стать преуспевающим торговцем, но ...как это часто бывает, на пути его карьеры стала
					любовь, да, именно любовь. Ван Гог до беспамятства влюбился в дочку своей квартирной хозяйки, но узнав что она уже обручена,
					очень замкнулся в себе, стал безразлично относится к своей работе. Когда он вернулся в Париж его уволили.
					</span>
                        <br><br>
                        <span>
						В 1877 году Ван Гог стал снова жить в Голландии, и все больше находил утешение в религии. После переезда в Амстердам
						он начал учиться на священника, но вскоре бросил учебу, так как обстановка на факультете его не устраивала.
					</span>
                        <br><br>
                        <span>
						В 1886 году в начале марта Ван Гог переезжает в Париж к совему брату Тео, и живет у него на квартире.
						Там он берет уроки живописи у Фернана Кормона, и знакомится с такими личностями как Писсаро, Гоген и многими
						другими художниками. Очень быстро он забывает весь мрак голландской жизни, и быстро завоевывает уважение как художник.
						Рисует четко, ярко в стиле импрессионизма и постимпрессионизма.
					</span>
                        <br><br>
                        <span>Винсент Ван Гог, проведя 3 месяца в евангелисткой школе, которая находилась в Брюсселе, стал проповедником.
						Он раздавал деньги и одежду, нуждающимся беднякам, хотя сам не был достаточно обеспеченным. Это вызвало подозрение
						у начальства церкви, и его деятельность была запрещена. Он не унывал, и находил утешение в рисовании.
					</span>
                        <br><br>
                        <span>
						К 27-ми годам, Ван Гог понял в чем его призвание в этой жизни, и решил что должен во что бы то ни стало стать художником.
						Хоть Ван Гог и брал уроки рисования, но его можно с уверенностью считать самоучкой, потому что он сам штудировал многие книги,
						самоучители, срисовывал картины известных художников. Сначалу он думал стать иллюстратором, но затем, когда брал уроки у своего
						родственника-художника - Антона Моуве, написал свои первые работы маслом.
					</span>
                        <br><br>
                        <span>
						Вроде бы жизнь стала налаживаться, но снова Ван Гога начали преследовать неудачи, причем любовные. Его кузина Кея Вос стала вдовой.
						Она ему очень нравилась, но он получил отказ, который долго переживал. К тому же из-за Кеи он поссорился очень серьезно со своим отцом.
						Эта размолвка была причиной переезда Винсента в Гаагу. Именно там он знакомится с Клазиной Марией Хоорник, которая была девушкой легкого
						поведения. С ней Ван Гог прожил почти год, причем неоднократно ему приходилось лечиться от венерологических заболеваний. Он хотел спасти
						эту бедную женщину, и даже думал жениться на ней. Но тут уже вмешалась его семья, и мысли о браке были попросту развеяны.
					</span>
                        <br><br>
                        <span>
						Вернувшись на родину к родителям, которые к тому времени уже переехали в Нёнен, его мастерство стало совершенствоваться.
						Он провел на родине 2 года. В 1885 Винсент поселился в Антверпене, где посещал занятия в Академии искусств. Затем, в 1886 году, Ван
						Гог снова возвращается в Париж, к своему брату Тео, который на протяжении всей жизни помогал ему, как морально так и финансово.
						Франция стала вторым домом для Ван Гога. Именно в ней он и прожил всю свою оставшуюся жизнь. Он не чувствовал себя тут чужим. Ван Гог
						много пил, и имел очень взрывной характер. Его можно было назвать человеком, с которым трудно иметь дело.
					</span>
                        <br><br>
                        <span>
						В 1888 он перебрался в Арль. Местные жители были не рады видеть его в своем городке, который находился на юге Франции. Не смотря на это
						Винсент нашел здесь друзей, и чувствовал себя вполне хорошо. Со временем ему пришла мысль создать здесь поселение для художников, чем он и
						поделился со своим другом Гогеном. Все шло хорошо, но между художниками произошла размолвка. Проведя 2 недели в психиатрической клинике он
						снова вернулся туда в 1889 году, так как его стали мучать галлюцинации.
					</span>
                        <br><br>
                        <span>
						В мае 1890 году он окончательно покинул приют для душевно больных и отправился в Париж к своему брату Тео и его жене, которая только родила мальчика,
						которого назвали Винсентом в честь его дяди. Жизнь стала налаживаться, и Ван Гог был даже счастлив, но его болезнь вернулась снова. 27 июля 1890 года
						Винсент Ван Гог скончался на руках своего брата Тео, который очень его любил. Спустя пол года умер и Тео. Братья похоронены на кладбище Овера рядом.
					</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}