{% extends 'base.html.twig' %}
{% block title %}
    Корзина
{% endblock %}
{% block body %}
    <div class="content m-0 p-0 mt-5 pt-5">
        <div class="ls section_padding_top_100 section_padding_bottom_75 columns_padding_25">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover shop_table cart cart-table">
                                <thead class="table-borderless">
                                <tr>
                                    <td class="product-info">Картина</td>
                                    <td class="product-price-td">Цена</td>
                                    <td class="product-quantity">Количество</td>
                                    <td class="product-subtotal">Сумма</td>
                                    <td class="product-remove">&nbsp;</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for picture in order_composition %}
                                <tr class="cart_item">
                                    <td class="product-info">
                                        <div class="media">
                                            <div class="media-left"> <a href="/gallery/{{ picture.pictur.getId() }}">
                                                    <img class="media-object cart-product-image" src="{{ picture.pictur.getPictureImg() }}" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h2><a href="/gallery/{{ picture.pictur.getId() }}">{{ picture.pictur.title }}</a></h2>
                                                {% for size in picture.pictur.getListSizes() %}
                                                {% if size.price == picture.price or (size.price+400) == picture.price %}
                                                <span>{{ picture.stretcher.name }}</span><br>
                                                <span class="grey">Размер:</span>{{ size.size.height }}x{{ size.size.width }}
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price"><span class="amount">{{ picture.price }} &#8381</span> </td>
                                    <td class="product-quantity pictur-font">
                                        <div class="quantity pictur-font">
                                            <input type="number" step="1" min="0" name="product_quantity" value="1" title="Qty" class="form-control">
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">{{ picture.price*picture.quantity }} &#8381</span> </td>
                                    <td class="product-remove">
                                        <a href="#" class="remove fontsize_20" title="Remove this item">
                                            <img src="/asset/img/icons/trash.svg" alt="Удалить" class="rounded mx-auto d-block" algin="center">
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-collaterals">
                            <div class="cart_totals">
                                <table class="table">
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <td>Сумма заказа</td>
                                        <td><span class="amount">
                                                <input type="text" readonly class="border-0 font-weight-bold" id="sum_order_composition" placeholder="&#8381" value="{{ sum_order_composition }}"/>
                                            </span></td>
                                    </tr>
                                    <tr class="shipping">
                                        <td>Доставка
                                            <select class="form-control-lg border-0 price-list" id="checkDeliveryPrice" onchange="getSelectedValue('checkDeliveryPrice')">
                                                <option value="0">Cамовывоз</option>
                                                <option value="550">СДЭК</option>
                                                <option value="300">Почта России</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="border-0 font-weight-bold" id="delivery_price" placeholder="&#8381" value="0"/>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <td class="grey">Итоговая сумма</td>
                                        <td><strong class="grey"><span class="amount">
                                                    <input type="text" readonly class="border-0 font-weight-bold" id="order_sum" placeholder="&#8381" value="{{ sum_order_composition }}"/>
                                                </span></strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="text-center">Ваши данные</h1>
                                <form class="contact-form row" method="post">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name"> Имя<span class="required">*</span></label>
                                            {{ form_widget(form_create.name, {'attr':{'class':'form-control pictur-font'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email"> Email<span class="required">*</span></label>
                                            {{ form_widget(form_create.email, {'attr':{'class':'form-control pictur-font'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone"> Номер телефона</label>
                                            {{ form_widget(form_create.phone, {'attr':{'class':'form-control pictur-font'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="address"> Адрес<span class="required">*</span></label>
                                            {{ form_widget(form_create.address, {'attr':{'class':'form-control pictur-font'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="message">Комментарии к заказу</label>
                                            <textarea rows="5" cols="45" name="message" id="message" class="form-control pictur-font" placeholder="Ваше сообщение.."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 cart-buttons">
                                        {{ form_widget(form_create.save, {'attr':{'class':'btn btn-lg ml-2 btn-outline-dark pictur-font'}}) }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getSelectedValue(name){
            let sum_del = document.getElementById("delivery_price").value = document.getElementById(name).value;
            let sum_order = document.getElementById("order_sum").value = Number(document.getElementById(name).value)+Number(document.getElementById("sum_order_composition").value);
            return [sum_del, sum_order];}
    </script>
{% endblock %}