{% extends 'base.html.twig' %}
{% block title %}
    Доставка и оплата
{% endblock %}
{% block body %}
    <div class="portfolio pb-0">
        <div class="container-fluid m-0 p-0 mt-5 pt-5 delivery">
            <h1 class="text-center">Доставка и оплата</h1>
            <div class="container-fluid m-0 p-0 mt-5 pt-5">
                <div class="row justify-content m-0 p-0 pictur-font">
                    <div class="desc-left col-md">
                        <img src="/asset/img/icons/truck.svg" alt="Доставка" class="icons rounded mx-auto d-block" algin="center">
                        <ul class="list-group list-group-flush text-center"><h3>Способы доставки:</h3>
                            <li class="list-group-item border-0"><span>- самовывоз в пункт выдачи</span></li>
                            <li class="list-group-item border-0"><span>- курьерская доставка СДЭК</span></li>
                            <li class="list-group-item border-0"><span>- доставка Почтой России</span></li> <br>
                        </ul>

                    </div>
                    <div class="desc-right col-md">
                        <img src="/asset/img/icons/piggy-bank.svg" alt="Доставка" class="icons rounded mx-auto d-block" algin="center">
                        <ul class="list-group list-group-flush text-center"><h3>Способы оплаты:</h3>
                            <li class="list-group-item border-0"><span>- наличными при получении</span></li>
                            <li class="list-group-item border-0"><span>- банковской картой</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}