{% extends 'base.html.twig' %}
{% block title %}
    Галлерея
{% endblock %}
{% block body %}
    <div id="content">
        <div class="portfolio mt-5 pt-5">
            <h1 class="text-center mt-4 mb-3">Картины</h1>
            <div class="sort-list ml-2">
                <input type="text" class="form-control-lg pictur-font search border-0 ml-2" placeholder="Поиск"/>

                <div class="float-right mr-4">
                    {% if sort_name %}
                        <a class="btn btn-lg ml-2 btn-outline-dark pictur-font active" href="{{ path('gallery_action') }}">Сортировать по названию</a>
                    {% else %}
                        <a class="btn btn-lg ml-2 btn-outline-dark pictur-font" href="{{ path('sort_name', {'picture':picture}) }}">Сортировать по названию</a>
                    {% endif %}
                    {% if sort_year %}
                        <a class="btn btn-lg ml-2 btn-outline-dark pictur-font active" href="{{ path('gallery_action') }}">Сортировать по году создания</a>
                    {% else %}
                        <a class="btn btn-lg ml-2 btn-outline-dark pictur-font" href="{{ path('sort_year') }}">Сортировать по году создания</a>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div class="row ml-0 mr-0">
                    {% if sort_name == true %}
                        {% for pictur in picture|sort((a,b) => a.title <=> b.title) %}
                        <div class="col-lg-3 col-md-4 col-sm-12" >
                            <span class="descr">Заказать
                                <br>
                                <a href="{{ path('picture_action', {'id': pictur.getId()}) }}">
                                    {{ pictur.title }}
                                </a>
                            </span>
                            <img src="{{ pictur.getPictureImg() }}" alt="Картиношка" class="img-fluid" algin="center">
                        </div>
                        {% endfor %}
                    {% elseif sort_year == true %}
                        {% for pictur in picture|sort((a,b) => a.year <=> b.year) %}
                            <div class="col-lg-3 col-md-4 col-sm-12" >
                            <span class="descr">Заказать
                                <br>
                                <a href="{{ path('picture_action', {'id': pictur.getId()}) }}">
                                    {{ pictur.title }}
                                </a>
                            </span>
                                <img src="{{ pictur.getPictureImg() }}" alt="Картиношка" class="img-fluid" algin="center">
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for pictur in picture %}
                            <div class="col-lg-3 col-md-4 col-sm-12" >
                            <span class="descr">Заказать
                                <br>
                                <a href="{{ path('picture_action', {'id': pictur.getId()}) }}">
                                    {{ pictur.title }}
                                </a>
                            </span>
                                <img src="{{ pictur.getPictureImg() }}" alt="Картиношка" class="img-fluid" algin="center">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}