{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="portfolio pb-0">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/asset/img/Цветущий_миндаль.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>Цветущий миндаль</h4>
                            <p>1890</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/asset/img/Звездная_ночь.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>Звездное небо над Роной</h4>
                            <p>1888</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/asset/img/goga.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>Смтореть больше картин?</h4>
                            <p>Топай в галлерею</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <h2 class="text-center">„Я вложил свое сердце и душу в свою работу, и я сошел с ума в процессе.“</h2>
            <div class="pictur-font col-sm-10 container-fluid mt-5">
			<span>
				Интернет магазин, а также мини-галлерея любимых картин Винсента Ван Гога предоставляет истинным ценителям
				картин этого великого художника преобрести репродукции в отличном качестве и по приемлемой цене.
			</span>
            </div>
        </div>
    </div>
{% endblock %}
