{% extends 'base.html.twig' %}
{% block title %}
    {{ picture.title }}
{% endblock %}
{% block body %}
    <div class="container-fluid m-0 p-0 mt-5 pt-5">
        <div class="row justify-content m-0 p-0">
            <div class="descl-left col-md-8">
                <img src="{{ picture.getPictureImg() }}" alt="" class="img-fluid picture" algin="center">
            </div>
            <div class="descl-right col-md-auto col-lg-4 pt-2 pictur">
                <h2><b>{{ picture.title }}</b></h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span>Год: {{ picture.year }}</span></li>
                    <li class="list-group-item"><span>Оригинальный размер: {{ picture.getSizeOriginal() }}</span> </li>
                    <li class="list-group-item">
                        <label>Выберите размер холста (см)</label>
                        <select class="form-control-lg border-0" id="checkPrice" onchange="getSelectedValue('checkPrice');">
                            {% for size in sizes %}
                            <option value="{{ size.price }}">{{ size.size.height }}x{{ size.size.width }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="list-group-item">
                        <select class="form-control-lg border-0" id="checkPriceStretcher" onchange="getSelectedValue();">
                            {% for stretcher in stretchers %}
                            <option value="{{ stretcher.price }}">{{ stretcher.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="list-group-item">
                        {{ form_start(form_order_composition) }}
                        <label  class="col-sm-2 col-form-label">Цена</label>
                            {{ form_widget(form_order_composition.price, {'attr':{'placeholder':'Руб', 'readonly':'true'}}) }}
                            {{ form_widget(form_order_composition.save) }}
                        {{ form_end(form_order_composition) }}
                    </li>
                    <li class="list-group-item"><span>{{ picture.description }}</span> </li>
                </ul>
                <div>
                    <p class="text-justify">Если у вас остались вопросы, позвоните по номеру +79999999999 или напишите на почту gogasite@yandex.ru.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content m-0 p-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h3>Напишите свой отзыв</h3>
                        <form action="#" method="post" id="formReview">
                            <input type="hidden" name="parent" id="contactparent" value="">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail">Email</label>
                                    {{ form_widget(form_commentator.email, {'attr':{'class':'form-control pictur-font'}}) }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputName">Имя</label>
                                    {{ form_widget(form_commentator.name, {'attr':{'class':'form-control pictur-font'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contactcomment">Текст:</label>
                                {{ form_widget(form_review.text_review, {'attr':{'class':'form-control pictur-font'}}) }}
                            </div>
                            <div class="button">
                                {{ form_widget(form_review.save, {'attr':{'class':'btn btn-lg ml-2 btn-outline-dark pictur-font'}}) }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        {% for one_review in review %}
                        <div class="media d-flex">
                            <hr>
                            <img class="mr-3 mt-3 review" src="/asset/img/mafia.jpg" alt="somepicture">
                            <div class="media-body mb-3 mt-3 p-2 bg-light">
                                <h3 class="mt-0 text-secondary">{{ one_review.commentator.name }}</h3>
                                <p>{{ one_review.getTextReview() }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getSelectedValue(){
            return document.getElementById("order_composition_price").value = Number(document.getElementById('checkPriceStretcher').value)+Number(document.getElementById('checkPrice').value);}
    </script>
{% endblock %}
