.portfolio .col-lg-3{
	position: relative;
}

.descr{
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 93.5%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	padding-top: 180px;
	margin-left: 15px;
	text-align: center;
	opacity: 0;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.portfolio .col-lg-3:hover .descr{
	opacity: 1;
}

#containr{
    width: 100%;
    padding: 0;
    margin: 0;
}
