/*Carousel*/
.carousel{
  margin-bottom: 30px;
}
.carousel-item img{
  margin-top: 90px;
  height: 800px;
}

.carousel-caption{
  margin: 0;
  padding: 0;
  background-color: rgba(3, 3, 3, 0.3);
}

/*Form*/
form{
  margin-bottom: 40px;
}

textarea{
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 0px;
}

.button button{
  padding: 15px 25px;
}

form input{
  margin-left: 10px;
  width: 70%;
}

/*Footer*/
.cls-footer{
  margin: 10px 20px 0px 50px;
}

.contact{
  position: absolute;
  right: 0px;
  margin: 0;
  padding: 0;
}

.contact h3{
  margin-left: 40px;
}

.site-footer a{
  color:#737373;
}

.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}

.footer-links li{
  display:block
}

.footer-links a{
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li{
  display:inline-block
}
