@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body{
  font-family: 'Amatic SC', bold;
  font-weight: 700;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow-x: hidden;
}

/*Изображения*/

div.descl-right.col-md-auto.col-lg-4.pt-2.pictur{
    font-family: 'Manrope Light';
    font-weight: 500;
    font-size: 20px;
}

img.img-fluid.picture{
    min-height: 0;
    object-fit: contain;
}

div.descl-right.col-md-auto.col-lg-4.pt-2.pictur h2{
    font-family: 'Amatic SC', bold;
    font-weight: 700;
    font-size: 50px;
}
.pictur-font{
    font-family: 'Manrope Light';
    font-weight: 500;
    font-size: 20px;
}

.icons{
    min-height: 0;
    object-fit: contain;
    min-width: 30%;
}

.media {
    margin-top: 17px;
}

.media .media-object {
    max-width: 100px;
}

li.media:before,
li.media:after {
    display: block;
    content: '';
    clear: both;
}

.media-right,
.media > .pull-right {
    padding-left: 20px;
}

.media-left,
.media > .pull-left {
    padding-right: 20px;
}

.media-left img,
.media-right img {
    max-width: 85px;
}

@media (min-width: 768px) {
    .big-left-media .media-left img, .big-left-media
    .media-right img {
        max-width: 100px;
    }
}

.small-media {
    margin-top: 10px;
}

.small-media .media-left {
    padding-right: 7px;
}

.small-media .media-right {
    padding-left: 7px;
}

.small-media .media-left img,
.small-media .media-right img {
    max-width: 40px;
}

td .media-body {
    width: auto;
}

.quantity [type="number"] {
    padding-left: 20px;
    max-width: 95px;
    min-width: 70px;
}

/*Конец изображений*/

h1, h2, p{
  font-weight: 700;
}

a, a:hover{
  text-decoration: none;
}

/*Nav-panelka*/
nav{
  max-height: 90px;
}

.navbar-brand{
  font-size: 71px;
  transform: translate(-275%, 0);
}


/*Навигционные ссылочки*/

.link{
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
.link > span{
    display: block;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}
.link:before,
.link:after,
.link > span:before,
.link > span:after{
    content: "";
    background: #fff;
    position: absolute;
    transition: all .15s ease 0s;
}
.link:before,
.link:after{
    bottom: 0;
    right: 0;
}
.link:before{
    width: 100%;
    height: 1px;
    transform: translateX(-100%);
    transition-delay: .45s;
}
.link:after{
    width: 1px;
    height: 100%;
    transform: translateY(100%);
    transition-delay: .3s;
}
.link > span:before,
.link > span:after{
    top: 0;
    left: 0;
}
.link > span:before{
    width: 100%;
    height: 1px;
    transform: translateX(100%);
    transition-delay: 0.15s;
}
.link > span:after{
    width: 1px;
    height: 100%;
    transform: translateY(-100%);
    transition-delay: 0s;
}
.link:hover:before,
.link:hover:after,
.link:hover > span:before,
.link:hover > span:after{ transform: translate(0, 0); }
.link:hover:before{ transition-delay: 0s; }
.link:hover:after{ transition-delay: 0.15s; }
.link:hover > span:before{ transition-delay: 0.3s; }
.link:hover > span:after{ transition-delay: 0.45s; }
@media only screen and (max-width: 767px){
    .link{ margin-bottom: 1px; }
}
/*Конец навигационных ссылок*/

img{
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.review {
  all: initial;
  /* {
    all: unset;
  }*/
}

.media .review{
  border-radius: 70%;
  -webkit-border-radius: 70%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  width: 80px;
}

div.col-lg-3{
  margin-bottom: 10px;
  margin-top: 10px;
}

.price-list{
    font-size: inherit;
    max-height: 48px;
}




