<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Интернет-магазин репродукций Ван Гога{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/asset/css/styles.css" media="all">
        <link rel="stylesheet" type="text/css" href="/asset/css/indexsite.css" media="all">
        <link rel="stylesheet" type="text/css"  href="/asset/css/gallerysite.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    </head>
    <body>
    <div class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-dark">
            <a class="navbar-brand mb-0 text-white h1 mx-auto" href="http://project.local.ru/">ВИНСЕНТ</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white link" href="http://project.local.ru/gallery"><span>Галлерея</span></a>
                <a class="nav-item nav-link text-white link" href="http://project.local.ru/about_him"><span>О Нем</span></a>
                <a class="nav-item nav-link text-white link" href="http://project.local.ru/about_us"><span>О нас</span></a>
                <a class="nav-item nav-link text-white link" href="http://project.local.ru/delivery_and_payment"><span>Доставка и оплата</span></a>
                <a class="nav-item nav-link text-white link" href="http://project.local.ru/basket"><span>Корзина</span></a>
            </div>
        </nav>
    </div>

        {% block body %}{% endblock %}

    <footer>
        <div class="cls-footer">
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <ul class="footer-links">
                        <h3>Карта сайта</h3>
                        <li><a href="http://project.local.ru/">ВИНСЕНТ</a></li>
                        <li><a href="http://project.local.ru/gallery">Галлерея</a></li>
                        <li><a href="http://project.local.ru/about_him">О Нем</a></li>
                        <li><a href="http://project.local.ru/about_us">О нас</a></li>
                        <li><a href="http://project.local.ru/delivery_and_payment">Доставка и оплата</a></li>
                        <li><a href="http://project.local.ru/basket">Корзина</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3 contact">
                    <h3>Контакты</h3>
                    <ul class="footer-links">
                        <li><a href="https://ru-ru.facebook.com">Facebook</a></li>
                        <li><a href="https://twitter.com/?lang=ru">Twitter</a></li>
                        <li><a href="https://www.pinterest.ru">Pinterest</a></li>
                        <li><a href="https://www.instagram.com">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-6 col-xs-12">
                    <p class="copyright-text text-secondary"> Something &copy; 2021 Blablablablablablablablabla by me.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>

</html>
